{
  "openapi": "3.1.0",
  "info": {
    "title": "Kamero Geo Location API",
    "description": "Free, open-source API to get user geolocation by IP address. No API key required. Returns IP, city, country, continent, coordinates, timezone, postal code, and region data.",
    "version": "1.1.0",
    "contact": {
      "name": "Kamero AI",
      "url": "https://kamero.ai"
    },
    "license": {
      "name": "MIT",
      "url": "https://github.com/kamero-ai/geo-location-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://geo.kamero.ai",
      "description": "Production server"
    }
  ],
  "paths": {
    "/api/geo": {
      "get": {
        "operationId": "getGeolocation",
        "summary": "Get user geolocation by IP",
        "description": "Returns geolocation data for the requesting client's IP address including IP, city, country, continent, region, coordinates, timezone, and postal code.",
        "responses": {
          "200": {
            "description": "Successful response with geolocation data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeoLocation"
                },
                "example": {
                  "ip": "203.0.113.42",
                  "city": "San Francisco",
                  "country": "US",
                  "countryRegion": "CA",
                  "continent": "NA",
                  "latitude": "37.7749",
                  "longitude": "-122.4194",
                  "timezone": "America/Los_Angeles",
                  "postalCode": "94102",
                  "region": "sfo1"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GeoLocation": {
        "type": "object",
        "properties": {
          "ip": {
            "type": "string",
            "description": "Public IP address of the visitor",
            "example": "203.0.113.42"
          },
          "city": {
            "type": "string",
            "description": "City name of the visitor",
            "example": "San Francisco"
          },
          "country": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code",
            "example": "US"
          },
          "countryRegion": {
            "type": "string",
            "description": "ISO 3166-2 region/state code",
            "example": "CA"
          },
          "continent": {
            "type": "string",
            "description": "ISO 3166-1 two-character continent code. AF=Africa, AN=Antarctica, AS=Asia, EU=Europe, NA=North America, OC=Oceania, SA=South America",
            "example": "NA",
            "enum": ["AF", "AN", "AS", "EU", "NA", "OC", "SA"]
          },
          "latitude": {
            "type": "string",
            "description": "Latitude coordinate",
            "example": "37.7749"
          },
          "longitude": {
            "type": "string",
            "description": "Longitude coordinate",
            "example": "-122.4194"
          },
          "timezone": {
            "type": "string",
            "description": "IANA timezone name",
            "example": "America/Los_Angeles"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal/ZIP code close to the user's location",
            "example": "94102"
          },
          "region": {
            "type": "string",
            "description": "Vercel Edge Network region that served the request",
            "example": "sfo1"
          }
        }
      }
    }
  }
}
